---
apiVersion: v1
kind: Service
metadata:
  name: elastic-master
  namespace: {{ namespace }}
spec:
  selector:
    site: {{ site }}
    role: master
  ports:
  - name: elastic-ctrl
    port: 9300
    targetPort: 9300
    protocol: TCP        
  - name: elastic-rest
    port: 9200
    targetPort: 9200
    protocol: TCP        
  clusterIP: None        
