---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: {{ namespace }}
spec:
  type: NodePort
  selector:
    site: {{ site }}
    role: data
  ports:
  - protocol: TCP
    port: 9200
    targetPort: 9200
    nodePort: {{ nodeport }}
