frontend kubernetes-frontend
    bind {{ ip_address }}:6443
    mode tcp
    option tcplog
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcp-check
    balance roundrobin
{% for host in groups['kubernetes_masters'] %}
    server {{ host }} {{ host }}:6443 check fall 3 rise 2
{% endfor %}
